/ml-coach-frontend/node_modules
/project/__pycache__
ml-coach-frontend/.eslintcache
ml-coach-frontend/tsconfig.node.tsbuildinfo
/ml-coach-frontend/out
/ml-coach-frontend/out
/ml-coach-frontend/out
ml-coach-frontend/out/renderer/assets/index--QD8lmQo.css
