/MyTelemetryViewer/node_modules
/project/__pycache__
MyTelemetryViewer/.eslintcache
MyTelemetryViewer/tsconfig.node.tsbuildinfo
/MyTelemetryViewer/out
/MyTelemetryViewer/build
MyTelemetryViewer/electron_bridge.spec
/MyTelemetryViewer/dist/win-unpacked
/MyTelemetryViewer/dist
/.vscode
/MyFreeTelemetryViewer/build
/MyFreeTelemetryViewer/dist
/MyFreeTelemetryViewer/node_modules
/MyFreeTelemetryViewer/out
result.csv
